[
    {debugging, true},
    {port, 5186},
    {compress, true},
    {acceptorNbr, 2},
    {maxConnections, 1024},
    {multi, [haha, gaga]}

%% 	{key_with_subkeys, [
%% 		{subkey1, [
%% 			{subsubkey1, subsubkey1_value},
%% 			{subsubkey2, subsubkey2_value}
%% 		]},
%% 		{subkey2, subkey2_value}
%% 	]}
].
