[
    {debugging, true},
    {opts, [2, 1000, 1000, 500]}, %% W, LeaseExpireInterval, LockExpireInterval, PushTransInterval
    {cluster, [
        {masters, [
            {"lm1", "localhost"},
            {"lm2", "localhost"},
            {"lm3", "localhost"}
        ]},
        {slaves, [
            {"ls1", "localhost"},
            {"ls2", "localhost"}
        ]}
    ]}
].