[
    {pools, [
        {riak_pool, [
            [{name, riak1},
             {group, riak},
             {max_count, 50},
             {init_count, 5},
             {start_mfa,
              {riakc_pb_socket, start_link, ["192.168.1.200", 8087]}}
            ],
            [{name, riak2},
             {group, riak},
             {max_count, 10},
             {init_count, 2},
             {start_mfa,
              {riakc_pb_socket, start_link, ["192.168.1.200", 8087]}}
            ]
        ]},
        {svc_account_pool, [
            [{name, svc_account},
             {group, account},
             {max_count, 1},
             {init_count, 1},
             {start_mfa,
              {svc_account, start_link, []}}
            ]
        ]},
        {svc_lockerc_pool, [
            [{name, svc_lockerc},
             {group, lockerc},
             {max_count, 100},
             {init_count, 10},
             {start_mfa,
              {svc_lockerc, start_link, []}}
            ]
        ]}
    ]}
].